@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Toast Styles */
.Toastify__toast-container {
    font-family: 'Arial', sans-serif;
    top: 70px; /* Adjust for placement */
}

.Toastify__toast {
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Toastify__toast--success {
    background-color: #28a745;
    color: white;
}

.Toastify__toast--error {
    background-color: #dc3545;
    color: white;
}

.Toastify__toast--info {
    background-color: #17a2b8;
    color: white;
}

.Toastify__toast--warning {
    background-color: #ffc107;
    color: white;
}
